[Unit]
Description=Docker Registry
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker container stop registry
ExecStartPre=-/usr/bin/docker rm registry
ExecStartPre=/usr/bin/docker pull registry:2
ExecStart=docker run --name registry \
          --restart unless-stopped \
          -p 127.0.0.1:5000:5000 \
          -e "REGISTRY_AUTH=htpasswd" \
          -e "REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm" \
          -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/authfile \
          -v /mnt/registry/auth:/auth \
          -e REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/registry \
          -v /mnt/registry/data:/registry \
          registry:2

[Install]
WantedBy=default.target

